:root {
    --color-bg: #0e141b;;
}
/* universal selector */
* {
    background-color: var(--color-bg);
}


.header {
    overflow: hidden;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Coyote, sans-serif;
}

.logo {
    align-items: center;
    font-size: 40px;
    font-family: fantasy;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

.page-header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 33.33vh;
}

header {
    position: relative;
    width: 95%;
    top: 10vh;
    margin-bottom: 50px;
    text-align: center;
    font-family: inherit;
    font-size: 500%;
    font-weight: 800;
    color:#ddd
}
.dot {
    color: orange;
}

.profile_photo {
    width: 400px;
    border-radius: 10%;
}

.page-header__content {
    display: block;
    margin-block-start: 5em;
    margin-block-end: 1em;
    margin-inline-start: 40%;
    margin-inline-end: 200px;
    min-height: 25vh;
    margin-bottom: 100px;
    font-family: inherit;
    font-size: 200%;
    font-weight: 800;
    color:#ddd;
 
}

.red_text {
    color: #ff3344
}

.blue_text {
    color: rgb(77, 77, 228);
}

.section {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.content{
    width: 50%;
    color: white;
    font-size: 25px;
}

.content h2 {
    font-size: 70px;
}

.content .about-heading {
    margin-top: 0;
}

@media screen (min-aspect-ratio: 16/9) {
    {
        display: flex;
        width: 55%;
        width: 50%;
    }
}